digital_oscilloscope/sources/port.ucf
digital_oscilloscope/PORT1.ucf
digital_oscilloscope/Untitled.mcs
digital_oscilloscope/Untitled.cfi
digital_oscilloscope/Untitled.prm
digital_oscilloscope/mcs1.mcs
digital_oscilloscope/mcs1.cfi
digital_oscilloscope/mcs1.prm