NET "CLK"     LOC = T8  | IOSTANDARD = LVCMOS33;
NET "ADC_CLK" LOC = N16 | IOSTANDARD = LVCMOS33;

NET "RST_N" LOC = C3 | IOSTANDARD = LVCMOS33;

NET "VGA_HS" LOC = M14 | IOSTANDARD = LVCMOS33;
NET "VGA_VS" LOC = L13 | IOSTANDARD = LVCMOS33;

NET "VGA_R[0]" LOC = M11 | IOSTANDARD = LVCMOS33;
NET "VGA_R[1]" LOC = M12 | IOSTANDARD = LVCMOS33;
NET "VGA_R[2]" LOC = L12 | IOSTANDARD = LVCMOS33;
NET "VGA_R[3]" LOC = N14 | IOSTANDARD = LVCMOS33;
NET "VGA_R[4]" LOC = M13 | IOSTANDARD = LVCMOS33;

NET "VGA_G[0]" LOC = M9  | IOSTANDARD = LVCMOS33;
NET "VGA_G[1]" LOC = N9  | IOSTANDARD = LVCMOS33;
NET "VGA_G[2]" LOC = P9  | IOSTANDARD = LVCMOS33;
NET "VGA_G[3]" LOC = L10 | IOSTANDARD = LVCMOS33;
NET "VGA_G[4]" LOC = M10 | IOSTANDARD = LVCMOS33;
NET "VGA_G[5]" LOC = P11 | IOSTANDARD = LVCMOS33;

NET "VGA_B[0]" LOC = P7 | IOSTANDARD = LVCMOS33;
NET "VGA_B[1]" LOC = M7 | IOSTANDARD = LVCMOS33;
NET "VGA_B[2]" LOC = P8 | IOSTANDARD = LVCMOS33;
NET "VGA_B[3]" LOC = N8 | IOSTANDARD = LVCMOS33;
NET "VGA_B[4]" LOC = L7 | IOSTANDARD = LVCMOS33;

NET "DATA[0]" LOC  = P16 | IOSTANDARD = LVCMOS33;
NET "DATA[1]" LOC  = P15 | IOSTANDARD = LVCMOS33;
NET "DATA[2]" LOC  = R16 | IOSTANDARD = LVCMOS33;
NET "DATA[3]" LOC  = R15 | IOSTANDARD = LVCMOS33;
NET "DATA[4]" LOC  = T15 | IOSTANDARD = LVCMOS33;
NET "DATA[5]" LOC  = R14 | IOSTANDARD = LVCMOS33;
NET "DATA[6]" LOC  = T14 | IOSTANDARD = LVCMOS33;
NET "DATA[7]" LOC  = T13 | IOSTANDARD = LVCMOS33;
NET "DATA[8]" LOC  = R12 | IOSTANDARD = LVCMOS33;
NET "DATA[9]" LOC  = T12 | IOSTANDARD = LVCMOS33;
NET "DATA[10]" LOC = R9  | IOSTANDARD = LVCMOS33;
NET "DATA[11]" LOC = T9  | IOSTANDARD = LVCMOS33;

