//! **************************************************************************
// Written by: Map P.20131013 on Wed May 14 22:59:52 2025
//! **************************************************************************

SCHEMATIC START;
COMP "VGA_B<0>" LOCATE = SITE "P7" LEVEL 1;
COMP "VGA_B<1>" LOCATE = SITE "M7" LEVEL 1;
COMP "VGA_B<2>" LOCATE = SITE "P8" LEVEL 1;
COMP "VGA_B<3>" LOCATE = SITE "N8" LEVEL 1;
COMP "VGA_B<4>" LOCATE = SITE "L7" LEVEL 1;
COMP "VGA_G<0>" LOCATE = SITE "M9" LEVEL 1;
COMP "VGA_G<1>" LOCATE = SITE "N9" LEVEL 1;
COMP "VGA_G<2>" LOCATE = SITE "P9" LEVEL 1;
COMP "VGA_G<3>" LOCATE = SITE "L10" LEVEL 1;
COMP "VGA_G<4>" LOCATE = SITE "M10" LEVEL 1;
COMP "VGA_G<5>" LOCATE = SITE "P11" LEVEL 1;
COMP "VGA_R<0>" LOCATE = SITE "M11" LEVEL 1;
COMP "VGA_R<1>" LOCATE = SITE "M12" LEVEL 1;
COMP "VGA_R<2>" LOCATE = SITE "L12" LEVEL 1;
COMP "VGA_R<3>" LOCATE = SITE "N14" LEVEL 1;
COMP "VGA_R<4>" LOCATE = SITE "M13" LEVEL 1;
COMP "CLK" LOCATE = SITE "T8" LEVEL 1;
COMP "RST_N" LOCATE = SITE "C3" LEVEL 1;
COMP "VGA_HS" LOCATE = SITE "M14" LEVEL 1;
COMP "VGA_VS" LOCATE = SITE "L13" LEVEL 1;
COMP "DATA<10>" LOCATE = SITE "R9" LEVEL 1;
COMP "DATA<11>" LOCATE = SITE "T9" LEVEL 1;
COMP "ADC_CLK" LOCATE = SITE "N16" LEVEL 1;
COMP "DATA<0>" LOCATE = SITE "P16" LEVEL 1;
COMP "DATA<1>" LOCATE = SITE "P15" LEVEL 1;
COMP "DATA<2>" LOCATE = SITE "R16" LEVEL 1;
COMP "DATA<3>" LOCATE = SITE "R15" LEVEL 1;
COMP "DATA<4>" LOCATE = SITE "T15" LEVEL 1;
COMP "DATA<5>" LOCATE = SITE "R14" LEVEL 1;
COMP "DATA<6>" LOCATE = SITE "T14" LEVEL 1;
COMP "DATA<7>" LOCATE = SITE "T13" LEVEL 1;
COMP "DATA<8>" LOCATE = SITE "R12" LEVEL 1;
COMP "DATA<9>" LOCATE = SITE "T12" LEVEL 1;
SCHEMATIC END;

